body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: top center;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #000000cd;
    position: relative;
}

h1 {
    margin-top: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #242003cd;
}


.container {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.391);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Styles pour les labels */
form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

/* Styles pour les champs input de type file */
form input[type="file"] {
    display: block;
    width: 100%; /* La largeur de l'élément est maintenant la largeur totale incluant le padding et la bordure */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccccccd7;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur de l'élément */
}


/* Styles pour les boutons */
form button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #eefb3bae;
    color: rgba(0, 0, 0, 0.412);
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
    background-color: #eefb3b;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Styles pour les messages d'erreur */
#outputResult {
    width: 95%; /* Largeur relative au conteneur parent */
    height: 300px; /* Hauteur fixe */
    background-color: white; /* Couleur de fond */
    border: 1px solid #cccccc; /* Bordure */
    padding: 10px; /* Espace intérieur */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre portée */
    overflow: auto; /* Défilement si nécessaire */
    margin: 6px auto; /* Marge au-dessus et centrage horizontal */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
}

/* Styles pour la liste déroulante */
select {
    width: 100%; /* La largeur de l'élément est maintenant la largeur totale incluant le padding et la bordure */
    padding: 10px;
    margin-bottom: 20px; /* Espace en dessous de l'élément */
    border-radius: 10px; /* Bords arrondis */
    border: 1px solid #ccccccd7; /* Bordure avec une couleur légèrement transparente */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc légèrement transparent */
    color: #333; /* Couleur du texte */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Petite ombre interne pour donner de la profondeur */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur de l'élément */
    font-size: 1.1em; /* Taille du texte */
    cursor: pointer; /* Style du curseur */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition douce pour les interactions */
}

select:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Fond un peu moins transparent au survol */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); /* Ombre interne plus marquée au survol */
}

select:focus {
    outline: none; /* Supprime la bordure de focus par défaut */
    border: 2px solid #eefb3b; /* Bordure plus épaisse et colorée lors de la sélection */
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2); /* Ombre interne plus profonde lors de la sélection */
}

/* Styles pour les boutons d'actualisation */
.select-group button {
    width: auto; /* Taille automatique en fonction du contenu */
    padding: 10px 15px;
    margin-top: 10px; /* Espace au-dessus du bouton */
    border: none;
    border-radius: 5px;
    background-color: #eefb3bae; /* Couleur de fond légèrement transparente */
    color: rgba(0, 0, 0, 0.412); /* Couleur du texte semi-transparente */
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.select-group button:hover {
    background-color: #eefb3b; /* Couleur de fond plus intense au survol */
    color: #333; /* Couleur du texte plus foncée */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transform: translateY(-2px); /* Légère élévation au survol */
}

.select-group button:active {
    transform: translateY(1px); /* Effet enfoncé lors du clic */
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.form-group button {
    /* Mêmes styles que les autres boutons */
    width: auto;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eefb3bae;
    color: rgba(0, 0, 0, 0.412);
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.form-group button:hover {
    background-color: #eefb3b;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.form-group button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.refresh-button {
    background-image: url('refresh.png'); /* Remplacez par le chemin réel de votre image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px; /* Ajustez selon la taille de votre icône */
    height: 40px; /* Ajustez selon la taille de votre icône */
    border: none;
    cursor: pointer;
    align-self: center; /* Centrage vertical du bouton dans le conteneur flex */

}

/* Styles optionnels pour le survol */
.refresh-button:hover {
    /* Par exemple, légère opacité ou changement de couleur de fond */
    opacity: 0.9;
}

.select-and-refresh {
    display: flex;
    align-items: center; /* Alignement vertical des éléments dans le conteneur flex */
    justify-content: space-between; /* Espacement entre le select et le bouton */
}

.select-group select {
    flex-grow: 1; /* Le select prend toute la largeur disponible */
    margin-right: 10px; /* Espace entre le select et le bouton */
}


